.footer-connect{
    font-style: Open Sans;
    color:#9340ff;
    font-weight: 200;
    letter-spacing:1.5px;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

/* 
.footer-position{
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display:block;

} */

.footer-background{
    background-color:#0e131f;
   
}